@import 'tailwindcss';

@layer base {
	body {
		@apply overflow-x-hidden overflow-y-scroll bg-zinc-950 text-zinc-50 antialiased scheme-dark;
	}
}

@utility hide-scroll-bar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
